body{
    margin:0px;
    
    font-family: 'Ubuntu', sans-serif;
}
#banner{
    
    background:linear-gradient(rgba(0,0,0,0.5),#009), url(image/banner.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:600px;

}
.banner-text{
    
    text-align:center;
    color:white;
    padding-top:160px;
}
.banner-text h1{
    font-size:40px;
    color:yellow;
}
.banner-text p{
    font-size:20px;
}
.button-link{
    text-decoration:none;
    background-color:yellow;
    
color:black;
height: 700px;
    padding:10px 20px;
    border-radius:5px;
}
.Donate-today{
    margin-top:100px;
}
.Donate-text{
    text-align:center;
}
.Donate-text h1{
    font-size:40px;
}

ul{
    list-style-type:none;
}

.donate-canter{
    padding:5%;
    text-align:center;

}
.donate-canter ul{
    
    display:inline;
    display:flex;
    align-items:center;
    
}
.donate-canter li{
    padding:10%;
    background-color:rgb(234, 234, 234);
    margin:20px;
   
}
#naver{
    border:2px solid rgb(255, 255, 0);
    background-color:rgb(255, 255, 208);
    
}
.Other{
    text-align:center;

}

#center{
    padding-top:30px;
}
.plan img{
width:40px;
height:40px;
}
.Donate-plan{
    padding-top:100px;
}
.donate-inline{
    display:inline;
    display:flex;
    align-items: center;
    padding-top:40px;
       padding-left:18%;
}
.plan{
 margin-left:20px;
 background-color:yellow;
 padding:20px;
}
.subcolor{
    background-color:white;
    border:2px solid yellow;
}
.fooder{
    width:100%;
    background-color:black;
    height:200px;
    color:white;
    text-align:center;
    margin-top:100px;
}

.fooder h1{
    font-size:40px;
    font-family:Monotype Corsiva;
}
.blog{
    padding-top:1px;
    
}
.Updates{
    padding-top:100px;
}
.box{
    width:500px;
    background-color:rgb(255, 255, 168);
    height:200px;
    background-position:center;
    margin:auto;
    align-content:center;
    text-align:center;
}
.input-group{
    margin-top:40px;
    padding-top:17%;
}
.sub{
    background-color:yellow;
    margin:0px 0px;
    height:30px;
    border:none;
    

}

.em{
    background-color:rgb(142, 142, 142);
    padding-left:5px;
}
